* {
  font-family: 'Angular', sans-serif;
}

.gap-1 {
  gap: 1rem;
}

.gap-05 {
  gap: .5rem;
}

.gap-5 {
  gap: 5rem;
}

td, th {
  text-align: center;
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

